---
layout: page
title: 标签
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="col-md-12 tag-buttom">
  <div class="col-md-4">
    {% for tag in site.tags %} 
      <span class="tag-box blog-left">
        <button class="btn btn-primary btn-sm">
          <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag[0] }}-ref">
            <span class="tag-color">{{ tag[0] }}</span>
            <span class="badge">{{ tag[1].size }}</span>
          </a>
         </button>  
      </span>
    {% endfor %}
  </div>
  <div class="col-md-8">
    {% for tag in site.tags %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-align-justify icon-margin"></span>
        <strong id="{{ tag[0] }}-ref">{{ tag[0] }}</strong>
      </div>
      <div class="panel-body">
      <ul class="blog-list">
        {% for node in tag[1] %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
              {% if page.url == node.url %}
              <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
              {% else %}
              <li>
                <a href="{{ BASE_PATH }}{{node.url}}">
                【{{node.categories}}】{{node.title}}-{{ node.date | date: "%Y%m%d" }}
                </a></li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


