* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: Arial,微软雅黑;
}

#blog-container {
  margin: 0 auto;
  padding: 0;
  background-image: url(/images/snowf.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left
}

img {
  max-width: 600px;
}

@media (max-width:625px) {
  video {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

a {text-decoration: none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {  text-decoration:none; }
a:active {  text-decoration:none; }

h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdbdb;
}

p {
  text-indent:30px;
}

li P,blockquote P {
  text-indent:0px;
}

.navbar-inverse {
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.175);
	box-shadow: 0 3px 3px rgba(0,0,0,0.175);
	border-radius: 0;
}

.blog-list {
	list-style: none;
}

.blog-content ul {
  margin-left: 25px;
}

.blog-content ol {
  margin-left: 30px;
}

.article-content {
  font-size: 17px;
}

.post-container {
  max-width: 800px;
}

blockquote {
  border-left-color: #5bc0de;
}

.article-list {
  margin-top: 35px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: rgba(100,100,100,1) 0px 0px 6px;
}

.blog-center {
	text-align: center;
  margin: auto;
}

.blog-left {
	float: left;
}

.blog-right {
	float: right;
}

.blog-index #markdown-toc {
  display: none!important;
}

.blog-index .maruku_toc {
  display: none!important;
}

.maruku_toc, #markdown-toc {
  font-size: 14px;
  position: fixed;
  left: 20px;
  top: 80px;
  max-width: 200px;
  max-height: 600px;
  overflow-y: auto;
  background: #eee;
  padding: 20px;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

@media only screen and (max-width:1250px) {
  .maruku_toc, #markdown-toc {
    position: relative;
    float: right;
  } 
}

@media only screen and (max-width:700px) {
  .maruku_toc, #markdown-toc {
    display: none;
  } 
}

.article-margin {
  margin-bottom: 10px;
}

.icon-margin {
	margin-right: 8px;
}

.lable-margin {
	margin-right: 10px;
	margin-top: 5px;
}

.show-icon-margin {
  font-size: 11px; 
  margin-left: 10px;
  color: #999;
}

.show-icon-margin a {
  color: #999; 
}

.alert-margin {
	margin-top: 5px;
}

.tag-buttom {
	margin-bottom: 10px;
}

.tag-color {
	color: #fff;
}

.article-header {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.tag-box {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.tag-span {
  vertical-align: super;
  font-size: 0.8em;
}

.tag-box .tag {
  padding: 3px 8px 3px 8px;
  margin: 0 3px 3px 0;
  background: #e6eaed;
  color: #07b;  
  font-size: 11px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset;
}

.sup {
  vertical-align:super;
}

.v-fork-me {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

@media only screen and (max-width:800px) {
  .v-fork-me {
    display: none;
  } 
}

/**
 * 返回顶部
 */
.back-to a {
  color: #3354aa; 
  text-decoration: none;
  border-bottom: 0px; 
  border-left: 0px;
  padding-bottom: 0px; 
  margin: 0px; 
  outline-style: none;
  outline-color: invert; 
  padding-left: 0px; 
  outline-width: 0px; 
  padding-right: 0px;
  background: none transparent scroll repeat 0% 0%;
  font-size: 100%;
  vertical-align: baseline;
  border-top: 0px; 
  border-right: 0px;
  padding-top: 0px
}

.back-to a:hover {
  border-bottom: medium none; 
  color: #444
}

.back-to {
  z-index: 999; 
  position: fixed; 
  width: 110px; 
  bottom: 35px; 
  overflow: hidden; 
  right: 10px
}

.back-to .back-top {
  text-indent: -9999em; 
  outline-style: none; 
  outline-color: invert; 
  outline-width: 0px; 
  width: 50px; 
  display: block; 
  background: url(/images/back-top.png) no-repeat 0px 0px;
  float: right; 
  height: 50px;
  margin-left: 10px
}

.back-to .back-top:hover {
  background-position: -50px 0px
}

@media (max-width:500px) {
  .back-to {
    display: none!important;
  }

  .back-to a {
    display: none!important;
  }

  .back-up {
    display: none!important;
  }
}

.blog-footer {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

