* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family:微软雅黑;
}

a {text-decoration: none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {  text-decoration:none; }
a:active {  text-decoration:none; }

ul {
  list-style: none;
}

.icon-margin {
  margin-right: 10px;
}

.lable-margin {
  margin-right: 10px; 
}