<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/jquery-ui.css" rel="stylesheet" type="text/css" media="all">

  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ ASSET_PATH }}/js/jquery-ui.js"></script>
    <script src="{{ ASSET_PATH }}/js/search.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">
            {{ site.title }}
          </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <div class="navbar-form navbar-right">       
            <input class="form-control" type="text"  id="blog-search" size="30" placeholder="搜索" required />
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      {{ content }}
    </div>
    <footer class="blog-footer">
      <div class="container blog-center">
        Copyright &copy; 2014-{{ site.time | date: '%Y' }} <a href="https://github.com/kailian">{{ site.author.name }}</a> All Rights Reserved
      </div>
    </footer>
    <div style="display:none;" class="back-to" id="toolBackTop">
      <a title="返回顶部" onclick="back_to_top();" href="#top" class="back-top">
    返回顶部</a>
    </div>
  <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.pin.js"></script>
<script>
$(document).ready(function(){ 
  var bt = $('#toolBackTop');
  var sw = $(document.body)[0].clientWidth;
  var cw = $(".container")[0].clientWidth;
  var limitsw = (sw - cw) / 2 - 50;
  if (limitsw > 0) {
    limitsw = parseInt(limitsw);
    bt.css("right",limitsw);
  }

  $(window).scroll(function() {
    var st = $(window).scrollTop();
    if(st > 130){
      bt.show();
    }else{
      bt.hide();
    }
  });

  $(".pinned").pin({
    containerSelector: ".pin-container",
    minWidth: 940
  })
})

/**
 * 返回顶部
 */
function back_to_top() {
  $("html,body").animate({scrollTop:"0px"},200);
  return false;
}


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53580327-1', 'auto');
  ga('send', 'pageview');
</script>
  </body>
</html>
