<div class="panel panel-default">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-align-justify icon-margin"></span>
    <strong>{{ page.title }}</strong>
    {% if page.tagline %}
    <small>{{page.tagline}}</small>
    {% endif %}
  </div>
  <div class="panel-body">
    <div class="blog-center">
      <span class="glyphicon glyphicon-user icon-margin"></span>
      <span class="lable-margin">{{ site.author.name }}</span>
      <span class="glyphicon glyphicon-time icon-margin"></span>
      <span>{{ page.date | date: "%F" }}</span>
    </div>
    <div class="content">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}  

      <hr>
      <div class="blog-center">
        <ul class="pagination">
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一篇</a></li>
        {% else %}
          <li class="prev disabled"><a>&larr; 上一篇</a></li>
        {% endif %}
          <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">目录</a></li>
        {% if page.next %}
          <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一篇 &rarr;</a></li>
        {% else %}
          <li class="next disabled"><a>下一篇 &rarr;</a>
        {% endif %}
        </ul>
      </div>
  </div>
</div>

